ai2thor==4.2.0
aws-requests-auth==0.4.3
#blas==1.0
blinker==1.6.2
botocore==1.34.82
#brotli-python==1.0.9
#bzip2==1.0.8
#c-ares==1.19.1
#ca-certificates==2024.7.2
cairo==1.16.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cyrus-sasl==2.1.28
eigen==3.4.0
expat==2.6.2
ffmpeg==4.2.2
filelock==3.13.1
flask==3.0.3
fontconfig==2.14.1
freetype==2.12.1
gettext==0.21.0
glib==2.78.4
glib-tools==2.78.4
gmp==6.2.1
gnutls==3.6.15
graphite2==1.3.14
gst-plugins-base==1.14.1
gstreamer==1.14.1
harfbuzz==4.3.0
hdf5==1.12.1
icu==73.1
idna==3.7
intel-openmp==2023.1.0
itsdangerous==2.2.0
jinja2==3.1.4
jmespath==1.0.1
jpeg
krb5==1.20.1
lame==3.100
lcms2==2.12
lerc==3.0
libabseil==20240116.2
libclang==14.0.6
libclang13==14.0.6
libcurl==8.7.1
libcxx==14.0.6
libdeflate==1.17
libedit==3.1.20230828
libev==4.33
libffi==3.4.4
libgfortran==5.0.0
libgfortran5==11.3.0
libglib==2.78.4
libiconv==1.16
libidn2==2.3.4
libjpeg-turbo==2.0.0
libllvm14==14.0.6
libnghttp2==1.57.0
libopenblas==0.3.21
libopus==1.3.1
libpng==1.6.39
libpq==12.17
libprotobuf==4.25.3
libssh2==1.11.0
libtasn1==4.19.0
libtiff==4.5.1
libunistring==0.9.10
libvpx==1.7.0
libwebp-base==1.3.2
libxml2==2.10.4
llvm-openmp==14.0.6
lz4-c==1.9.4
markupsafe==2.1.3
mkl==2023.1.0
mkl-service==2.4.0
mkl_fft==1.3.8
mkl_random==1.2.4
mpmath==1.3.0
msgpack-python==1.0.3
mysql==5.7.24
ncurses==6.4
nettle==3.7.3
networkx==3.3
numpy==1.26.4
numpy-base==1.26.4
opencv==4.10.0
openh264==2.1.1
openjpeg==2.4.0
openssl==3.0.14
pcre2==10.42
pillow==10.4.0
pip==24.0
pixman==0.40.0
progressbar2==4.2.0
pysocks==1.7.1
python==3.12.4
python-dateutil==2.9.0post0
python-utils==3.3.3
python-xlib==0.33
pyyaml==6.0.1
qt-main==5.15.2
readline==8.2
requests==2.32.3
setuptools==69.5.1
six==1.16.0
sqlite==3.45.3
sympy==1.12
tbb==2021.8.0
tk==8.6.14
torch==2.8.0.dev20250327+rocm6.3
torchaudio==2.6.0.dev20250331+rocm6.3
torchvision==0.22.0.dev20250331+rocm6.3
typing_extensions==4.11.0
tzdata==2024a
urllib3==2.2.2
werkzeug==3.0.3
wheel==0.43.0
x264==1!157.20191217
xz==5.4.6
yaml==0.2.5
zlib==1.2.13
zstd==1.5.5
